
body{
	padding: 0px;
	margin: 0px;
}
.jumbotron {
	
	text-align: center;
}
footer{
    background-color: #222;
    border: 1px solid #080808;
}
footer p {
	color: #aaa;
}

.featured1{
	padding: 40px 0 !important;
}
.quote {
	padding-bottom: 40px;
}
p{
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Oswald', sans-serif;
}
